{% load static %}

{% block headerinclude %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/abb9521de4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" >
    
</head>
{% endblock headerinclude %}


<body style="background-color: #f3f3f3">
    <nav>
      <div class="logo"><a href="{% url 'ra:index_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      <label for="btn" class="icon">
        <span class=></span>
      </label>
     
      <ul>     
      
      

       <li>
                <label for="btn-2" class="show">My Account <i class="fa fa-user" aria-hidden="true"></i></label>
                <a href="#">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Search</a></li>  
                <li><a href="{% url 'ra:tera_account_settings'%}">Change pass</a></li>
                <li>

                  <form  action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
                    {% csrf_token %}
                  <button type="submit" class="btn btn-default" name="btnLogout">Logout </button>
                  </form>

                </li>

        </ul>

      </li>
      </ul>
  </nav>

    <div class="main-menu" style="border-right:2px #800000 solid;">

        <ul>
            <section class="home">
                <li class="menu-item"><i class="fa fa-bookmark"></i>All References</li>
                <li class="menu-item"><i class="fa fa-history"></i>Recently Added</li>
                <li class="menu-item"><i class="fa fa-bookmark"></i>Recently Read</li>
                <li class="menu-item"><i class="fa fa-star"></i>Favorites</li>
                <li class="menu-item"><i class="fa fa-trash"></i>Trash</li>
                <li class="menu-item"><i class="fa fa-chevron-circle-down"></i><b>My Collections </b>
                                 <i class="fa fa-plus" style="font-size:10px;" name="addfolder" onclick="document.getElementById('id01').style.display='block'"></i></li>
                                 {% for folder in folders %}
                                    <li class="menu-item" style="padding-left: 50px;"> {{folder.foldername}} </li>
                                 {% endfor %}
                <li class="menu-item"><i class="fa fa-chevron-circle-down"></i><b>Private Groups</b>
                                 <i class="fa fa-plus" style="font-size: 10px;"></i></li>

               </section>             
        </ul>
    </div>
<input type="" name="">
        <div class="wrapper">
     <div class="main_content">
      
        <div class="header" style="left: 180px; width: 20px;">

          <div class="info">
           
              <!-- {{ row.title }} {{ row.siteName }} {{ row.dateAdded }} -->
             {% for item in bookmark_list %}
                {% if item.isRemoved == 0 %}
                <div style="cursor: text; ">
                    <img class="logo-style" src="{% static 'images/springerLogo.PNG' %}"  style="height: 15px;">  &nbsp; &nbsp; {{ item.title }} &nbsp; &nbsp; 

                        <a   style="cursor: pointer"  >
                            <i id="{{item.id}}" class="fas fa-info-circle fa-lg" onclick="get_detail(this.id)"></i>
                        </a> 

                        <a>
                            <i id="{{item.id}}" class="fas fa-trash-alt" style="cursor: pointer" onclick="delete_item(this.id)"></i>
                        </a> 
                </div> 
            <br><br><br>
            
               {% endif %}
              {% endfor %}
              
              
             
             
              
                <!-- <i class="fa fa-trash"> -->
         
          </div>

        </div>  
      
      </div>
       <!-- The Modal -->
                  <div id="id01" class="modal">
                    
                    <form class="modal-content" id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">

                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                      {% csrf_token %}
                      <div class="container">

                        <p style="font-size: 25px; color: #800000">Create a New Collection</p>
                        <p style="font-size: 15px">Please provide a name for your collection.</p>
                        <hr>
                        <label for="foldername"><b>Collection Name</b></label>
                        <input type="text" placeholder="Enter Collection Name" name="foldername" required>

                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signupbtn">Save</button>
                        </div>
                      </div>
                    </form>
                  </div>
    </div>
     <div class="right-side-bar" style="border-left:2px #800000 solid;">
      <h3 class="w3-bar-item">Details</h3>
      <ul>
       {% for item in bookmark_list %}
                {% if item.isRemoved == 0 %}
       <li id="website{{item.id}}" class="menu-item menu-bookmarks-items"style="display: none" > Website: 

          <a id="website-value{{item.id}}"style="display: none" class="detail-info">{{item.websiteTitle}}</a>
      </li>

       <li id="itemType{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> Item type: 
          <a id="itemType-value{{item.id}}"style="display: none"class="detail-info">{{item.itemType}}</a>
        </li>

       <li id="url{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> URL: 
        <a id="url-value{{item.id}}"style="display: none" href="{{item.url}}" class="detail-info">{{item.url}}</a>
      </li>
       <li id="title{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> Title: 
        <a id="title-value{{item.id}}"style="display: none"class="detail-info">{{item.title}}</a>
      </li>
       <li id="author{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> Author:  
        <a id="author-value{{item.id}}"style="display: none"class="detail-info">{{item.author}}</a>
      </li>

       <li id="description{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> Description:  
        <a id="description-value{{item.id}}"style="display: none"class="detail-info">{{item.description}}</a>
      </li>
       <li id="collection{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> Collection: 

        <a id="collection-value{{item.id}}"style="display: none"class="detail-info">{{item.journalItBelongs}}</a>
      </li>
       <li id="publicationYear{{item.id}}" class="menu-item menu-bookmarks-items" style="display: none"> Publication Year:

        <a id="publicationYear-value{{item.id}}"style="display: none"class="detail-info">{{item.publicationYear}}</a>
      </li>
       <li id="dateAdded{{item.id}}" class="menu-item menu-bookmarks-items"class="detail-info" style="display: none"> Date added: 
        <a id="dateAdded-value{{item.id}}" >{{item.dateAdded}}</a>
      </li>
       <li id="dateAccessed{{item.id}}" class="menu-item menu-bookmarks-items"class="detail-info" style="display: none"> Date Accessed: 
        <a id="dateAccessed-value{{item.id}}"style="display: none">{{item.dateAccessed}}</a>
      </li>
       
        
        <!-- <div id="detail{{item.id}}" class="detail6" style="display: none">{{item.title}}</div> -->
       {% endif %}
              {% endfor %}
      
      
      </ul>
    </div>
   <input id="previousID"  value="{{item.id}}"name="" hidden="">
     {% for item in bookmark_list %}
    <div id="item{{item.id}}" class="detailasd" style="display: none ">{{item.id}} </div>
    <div id="item{{item.id}}" class="detailasd" style="display: none ">{{item.volume}} </div>
    
    {% endfor %}
    
</body>


<script type="text/javascript">

$(document).ready(function() {
          
        //    var buttons=   document.getElementsByClassName("menu-item menu-bookmarks-items");
        //    for(i=0; i< buttons.length; i++){
        //                 buttons[i].style.display = "None"; 
        //             }
        });

function delete_item(clicked_id){
  alert(clicked_id)
  
    
}

function get_detail(clicked_id){

    var buttons=   document.getElementsByClassName("detail-info");
           for(i=0; i< buttons.length; i++){
                        buttons[i].style.display = "none"; 
    }

    var buttons=   document.getElementsByClassName("menu-item menu-bookmarks-items");
           for(i=0; i< buttons.length; i++){
                        buttons[i].style.display = "none"; 
    }

   document.getElementById("website"+ clicked_id).style.display = "block";
   document.getElementById("itemType" + clicked_id).style.display = "block"; 
   document.getElementById("url" + clicked_id).style.display = "block"; 
   document.getElementById("title" + clicked_id).style.display = "block"; 
   document.getElementById("author" + clicked_id).style.display = "block"; 
   document.getElementById("description" + clicked_id).style.display = "block"; 
   document.getElementById("collection" + clicked_id).style.display = "block"; 
   document.getElementById("publicationYear" + clicked_id).style.display = "block"; 
   document.getElementById("dateAdded" + clicked_id).style.display = "block"; 
   document.getElementById("dateAccessed" + clicked_id).style.display = "block"; 
  
   document.getElementById("website-value"+ clicked_id).style.display = "block";
   document.getElementById("itemType-value" + clicked_id).style.display = "block"; 
   document.getElementById("url-value" + clicked_id).style.display = "block"; 
   document.getElementById("title-value" + clicked_id).style.display = "block"; 
   document.getElementById("author-value" + clicked_id).style.display = "block"; 
   document.getElementById("description-value" + clicked_id).style.display = "block"; 
   document.getElementById("collection-value" + clicked_id).style.display = "block"; 
   document.getElementById("publicationYear-value" + clicked_id).style.display = "block"; 
   document.getElementById("dateAdded-value" + clicked_id).style.display = "block"; 
   document.getElementById("dateAccessed-value" + clicked_id).style.display = "block"; 

            

           

  

// alert(id)
     







//   for(var key in json.jsonData) {
//    for (var key1 in json.jsonData[key]) {
//     // convert object to key's array
//     const keys = Object.keys(courses);

//     // print all keys
//     console.log(typeof(courses));
        
    
}
  
</script> 


</html>