{% load static %}

{% block headerinclude %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
{% endblock headerinclude %}

{% block content %} 
<body style="background-color: #f3f3f3">
    <nav>
      <div class="logo"><a href="{% url 'ra:index_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      <label for="btn" class="icon">
        <span class=></span>
      </label>
      <ul>     
      <li>
                <a href="#">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Dashboard</a></li>  
                <li><a href="{% url 'ra:tera_account_settings'%}">Settings</a></li>
                <li><a href="#modalLogoutForm" data-toggle="modal" data-target="#modalLogoutForm" >Logout </a></li>
                </ul>
      </li>
      </ul>
  </nav>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="main-menu" style="border-right:2px #800000 solid;">
        <ul>
            <section class="home">
                <li class="menu-item"><i class="fa fa-bookmark"></i> &nbsp; &nbsp; All References</li>
                <li class="menu-item"><i class="fa fa-history"></i>&nbsp; &nbsp; Recently Added</li>
                <li class="menu-item"><i class="fa fa-bookmark"></i>&nbsp; &nbsp; Recently Read</li>
                <li class="menu-item"><i class="fa fa-star"></i>&nbsp; &nbsp; Favorites</li>
                <li class="menu-item"><i class="fa fa-trash"></i>&nbsp; &nbsp; Trash</li>
                <li class="menu-item"><i class="fa fa-chevron-circle-down"></i>&nbsp; &nbsp; <b>My Collections </b>
                                 <i class="fa fa-plus" style="font-size:10px;" name="addfolder" onclick="document.getElementById('id01').style.display='block'"></i></li>
                                 {% for folder in folders %}
                                    <li class="menu-item" style="padding-left: 50px;"> {{folder.foldername}} </li>
                                 {% endfor %}
                <li class="menu-item"><i class="fa fa-chevron-circle-down"></i>&nbsp; &nbsp; &nbsp;<b>Private Groups</b>
                                 <i class="fa fa-plus" style="font-size: 10px;"></i></li>
               </section>             
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="wrapper">
       <div class="main_content">
          <div class="header" >
                <h4> All References </h4>  
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Site</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Date Added</th>
                        <th>Date Accessed</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <a>
                      <tr>
                        <td><img class="logo-style" src="{% static 'images/springerLogo.PNG' %}" style="height: 15px;"></td>
                        <td>Book</td>
                        <td><a href="#"><span style="display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 15ch;">The New Era of Modern Technology The New Era of Modern Technology</span></a></td>
                        <td>11-01-2021</td>
                        <td>11-01-2021</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                      </tr>
                      <tr>
                        <td><img class="logo-style" src="{% static 'images/springerLogo.PNG' %}" style="height: 15px;"></td>
                        <td>Book</td>
                        <td><a href="#"><span style="display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 15ch;">The New Era of Modern Technology</span></a></td>
                        <td>11-01-2021</td>
                        <td>11-01-2021</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                      </tr>
                      <tr>
                        <td><img class="logo-style" src="{% static 'images/springerLogo.PNG' %}" style="height: 15px;"></td>
                        <td>Book</td>
                        <td><a href=""><span style="display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 15ch;">The New Era of Modern Technology</span></a></td>
                        <td>11-01-2021</td>
                        <td>11-01-2021</td>
                        <td><a href="#"><i class="fa fa-eye"></i></a></td>
                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                      </tr>
                    </a>
                    </tbody>
                  </table>
                </div>
            </div>
            <!-- The Modal -->
                  <div id="id01" class="modal">
                    
                    <form class="modal-content" id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">

                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                      {% csrf_token %}
                      <div class="container">

                        <p style="font-size: 25px; color: #800000">Create a New Collection</p>
                        <p style="font-size: 15px">Please provide a name for your collection.</p>
                        <hr>
                        <label for="foldername"><b>Collection Name</b></label>
                        <input type="text" placeholder="Enter Collection Name" name="foldername" required>

                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signupbtn">Save</button>
                        </div>
                      </div>
                    </form>
                  </div>
          </div>  
                 
        </div>
   
    
    <div class="col-sm-4">
      <div class="right-side-bar" style="border-left:2px #800000 solid;">
      <h4>Details</h4>
      <ul>
       <li class="menu-item"> Lorem ipsum dolorem. Lorem ipsum dolorem.</li>
       <li class="menu-item"> Lorem ipsum dolorem.</li>
       <li class="menu-item"> Lorem ipsum dolorem.</li>
      </ul>
    </div>
    </div>
  </div>
</div>
</body>
{% endblock content %} 

<script>
      $('.icon').click(function(){
        $('span').toggleClass("cancel");
      });
</script>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script> 

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
