{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TERA</title>
         <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/adminSite.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> -->
        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/fc-3.2.2/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.css" />

       

        <style>
        .logo{
          float: left;
          color: #800000;
          font-size: 27px;
          font-weight: 600;
          line-height: 40px;
          padding-left: 15px;
          
        }
       .logo-style{
          height: 2.3em;
        }
       
      /* td{
        text-align: center;
       }*/
        
        </style>

       
    </head>
    <body class="sb-nav-fixed">
          <nav class="sb-topnav navbar navbar-expand" style="background-color: #808080">
            <!-- Navbar Brand-->
            <img class="logo logo-style" src="{% static 'images/logo.png' %}">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" style="color: #ffd700; margin-left: 25px" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                           <a class="nav-link" href="{% url 'ra:admin_index_view' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Manage Users
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'ra:admin_registration_view' rtype='i' %}">Import CSV File</a>
                                    <a class="nav-link" href="{% url 'ra:admin_registration_view' rtype='s' %}">Register User</a>
                                    
                                </nav>
                            </div>

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                                Resources
                                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'ra:admin_site_view' %}">Site</a>
                                            <a class="nav-link" href="{% url 'ra:admin_dissertations_access_view' %}">Dissertations</a>
                                        </nav>
                                    </div>

                           
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                                        Summary Reports
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'ra:admin_activeuser_view' %}">Active Users</a>
                                    <a class="nav-link" href="{% url 'ra:admin_siteaccess_view' %}">Site Access</a>
                                    <a class="nav-link" href="{% url 'ra:admin_colleges_view' %}">College Access</a>
                                </nav>
                                    </div>

                            
                            <a class="nav-link" href="{% url 'ra:admin_tables_view' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">Resources</li>
                            <li class="breadcrumb-item active">Dissertations</li>
                        </ol>
                        
                          <div class="card mb-4">

                            <div class="card-header">

                                <i class="fas fa-table me-1"></i>
                                Dissertations

                          

                                <a type="button" class="" style="margin-left: 80%; color: maroon" href="#" data-toggle="modal" data-target="#addModal" >
                                                    <i class="fas fa-plus"  style="color: #ffd700"></i> Add Dissertation
                        </a>
                        
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>

                                            <th>Title</th>
                                            <th>Authors</th>
                                            <th>College</th>
                                            <th>File</th>
                                            <th>Total Number of User Access</th>
                                            <th>Visibility</th>
                                            <th >Manage</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody >
                                        
                                            <!-- <th colspan="2">Manage</td> -->
                                        {% for item in dissertations %}

                                      
                                        <tr id="row{{item.id}}">
                                            <td  class="title" style="overflow: hidden;text-overflow: ellipsis; max-width: 50ch;text-align: justify;">{{item.title}} </td>
                                            <td class="author" style="overflow: hidden;text-overflow: ellipsis; max-width: 50ch;;text-align: justify;">{{item.author}}</td>
                                            <td class="college" style="text-align: center">{{item.department_name}}</td>
                                            <!-- <td>olok</td> -->
                                            <td id="{{item.file.url}}" class="file" > <a href= "{{item.file.url}}"  > file</a>   </td>
                                            <td class="" style="text-align: center" >{{item.num_of_access}}</td>
                                            {% if item.is_active == True %}
                                                <td>
                                                  <input id = "switch{{item.id}}" class="input-switch" type="checkbox" id="switch{{item.id}}"  checked/>
                                                  <label class="label-switch" for="switch{{item.id}}"></label>
                                                  <span class="info-text"></span>
                                                </td>
                                            {% endif %}

                                            {% if item.is_active == False %}
                                                <td class="" >
                                                  <input id = "switch{{item.id}}" class="input-switch" type="checkbox" id="switch{{item.id}}"  />
                                                  <label class="label-switch" for="switch{{item.id}}"></label>
                                                  <span class="info-text"></span>
                                                </td>
                                            {% endif %}
                                            
                                             <td class="" >
                                                <a id = "{{item.id}}"class="edit" title="Edit"  data-toggle="modal" data-target="#editModal" ><i class="far fa-edit" style="color: #ffd700; cursor: pointer;"></i></a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                                <a  id = "{{item.id}}" class="deletes" title="" data-toggle="tooltip"><i class="fa fa-trash" style="color: #800000; cursor: pointer;"></i></a>

                                            <!--  -->
                                            <!-- <input  class="abstract" style="visibility: hidden;" value="{{item.abstract}}" > -->
                                        </tr>
                                        {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            <!-- add model -->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content" style="background-color: white">
                        <div class="modal-header" style="background-color:#800000">
                          <h5 class="modal-title" style="color: white">Dissertation Information</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div id="editModal_body" class="card-body">
                            <!-- <form id = ""   method="post" autocomplete="off" enctype="multipart/form-data">
                                {% csrf_token %} -->
                               

                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>Title</label>
                                    <div class="col-md-6">
                                        <textarea id="title" name="title" rows="2" cols="50" placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right"><a style="color: red; display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 70ch;">* &nbsp;</a>Authors</label>
                                    <div class="col-md-6 ">
                                        <textarea id="authors" name="authors" rows="3" cols="50" placeholder="eg. Maria Bisagra, Rodolfo Kanyuto "></textarea>
                                       
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>Abstract</label>
                                    <div class="col-md-6">
                                        <textarea id="abstract" name="abstract" rows="9" cols="50" maxlength="400"></textarea>
                                    </div>
                                </div>



                                

                                <div class="form-group row">

                                    <label for="password" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>File</label>
                                    <div class="col-md-6">
                                        <input type="file" id="file" class="form-control" name="password" placeholder="leave blank to retain current password ">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="college" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>College</label>
                                    <div class="col-md-6">
                                        <select id="college" class="form-control"  name="college"  >
                                            <option value="CCS" >College of Computer Studies</option>
                                            <option value="CEA">College of Engineering and Architecture</option>
                                            <option value="CCJ">College of Criminal Justice</option>
                                            <option value="CNAHS">College of Nursing and Allied Health Sciences</option>
                                            <option value="CMBA">College of Management, Business and Accountancy</option>
                                            <option value="CASE">College of Arts, Sciences and Education</option>
                                        </select>
                                    </div>
                                </div>
                      
                                 <center><a id="errorMessage" style="color: red; display: none "> </a><br><br></center>
                      
                                    <div class="col-md-6 offset-md-4">
                                       
                                    
                                        <button type="" id="add" name="" class="btn btn-primary" >
                                            Add
                                        </button>
                                        <button id="dismissModaladd" type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left:1px; margin-top: 4px;"> CANCEL</button>
                                        

                                    </div>
                             <!-- </form> -->
                        </div>
                       </div>
                    </div>
                    </div>


            <!-- edit model -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content" style="background-color: white">
                        <div class="modal-header" style="background-color:#800000">
                          <h5 class="modal-title" style="color: white">Dissertation Information</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div id="editModal_body" class="card-body">
                            <!-- <form id = ""   method="post" autocomplete="off" enctype="multipart/form-data">
                                {% csrf_token %} -->
                               

                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>Title</label>
                                    <div class="col-md-6">
                                        <textarea id="title_field" name="title" rows="2" cols="50" placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right"><a style="color: red; display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 70ch;">* &nbsp;</a>Authors</label>
                                    <div class="col-md-6 ">
                                        <textarea id="authors_field" name="authors" rows="3" cols="50" placeholder="eg. Maria Bisagra, Rodolfo Kanyuto "></textarea>
                                       
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>Abstract</label>
                                    <div class="col-md-6">
                                        <textarea id="abstract_field" name="abstract" rows="9" cols="50" maxlength="400"></textarea>
                                    </div>
                                </div>



                                

                                <div class="form-group row">

                                    <label for="password" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>File</label>
                                    <div class="col-md-6">
                                        <input type="file" id="file_field" class="form-control" name="password" placeholder="leave blank to retain current password ">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="college" class="col-md-4 col-form-label text-md-right"><a style="color: red">* &nbsp;</a>College</label>
                                    <div class="col-md-6">
                                        <select id="college_field" class="form-control"  name="college"  >
                                            <option value="CCS" >College of Computer Studies</option>
                                            <option value="CEA">College of Engineering and Architecture</option>
                                            <option value="CCJ">College of Criminal Justice</option>
                                            <option value="CNAHS">College of Nursing and Allied Health Sciences</option>
                                            <option value="CMBA">College of Management, Business and Accountancy</option>
                                            <option value="CASE">College of Arts, Sciences and Education</option>
                                        </select>
                                    </div>
                                </div>
                      
                                 <center><a id="errorMessage" style="color: red; display: none "> </a><br><br></center>
                      
                                    <div class="col-md-6 offset-md-4">
                                       
                                    
                                        <button type="" id="submit" name="" class="btn btn-primary" >
                                            Submit
                                        </button>
                                        <button id="dismissModaledit" type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left:1px; margin-top: 4px;"> CANCEL</button>
                                        

                                    </div>
                             <!-- </form> -->
                        </div>
                       </div>
                    </div>
                    </div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; TERA 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/adminScripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <!-- <script src="{% static 'js/datatables-simple-demo.js' %}"></script> -->
        <script src="{% static 'js/datatables-simple-colleges.js' %}"></script>
        <script src="{% static 'js/datatables-dissertations.js' %}"></script>
        <script src="{% static 'js/adminSiteScripts.js' %}"></script>
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> -->
        <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
        <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

    </body>
</html>


<script type="text/javascript">
    var selectedRowID = 0
        // const datatablesSimple = new simpleDatatables.DataTable("#datatablesSimple",{
    var selectedRow
    oldTitle = ""
        // })
    var rows_selected = []
var table = $("#datatablesSimple").DataTable({
        
     
      // 'rowCallback': function(row, data, dataIndex){
      //    // Get row ID
      //    var rowId = data[0];

      //    // If row ID is in the list of selected row IDs
      //    if($.inArray(rowId, rows_selected) !== -1){
      //       $(row).find('input[type="checkbox"]').prop('checked', true);
      //       $(row).addClass('selected');
      //    }
      // }


         
})
    
$(document).ready(function(){
    

        $(document).on("click", ".deletes", function(){
            selectedRow = $(this).parents("tr")
            didConfirm = confirm("Do you really want to delete this user?")
            if(didConfirm){

                table.row($(this).parents('tr')).remove().draw();
                    
                $.ajax({
                  type:"POST",
                  url:"",

                  data:{
                    action: 'delete',
                    id: $(this).attr("id"),
                    csrfmiddlewaretoken: "{{csrf_token}}"

                  },
              
                }); 
            }
            
        });


        $(document).on("click", ".edit", function(){

          
            selectedRowID = $(this).attr("id")
            selectedRow = $(this).parent()
            oldTitle = $.trim($(this).parent().siblings('.title').text())

            $.ajax({
                  type:"POST",
                  url:"",

                  data:{
                    action: 'get_row',
                    id:  selectedRowID,
                    csrfmiddlewaretoken: "{{csrf_token}}"

                  },success: function(response){
                        tableData = response.object
                        document.getElementById("title_field").value = tableData[0].title
                        document.getElementById("authors_field").value = tableData[0].author
                        document.getElementById("abstract_field").value =tableData[0].abstract
                       
                        // document.getElementById("college_field").value = $.trim(college)
                        $('#college_field').val(tableData[0].department_name)
                  }
              
                }); 
            

            
            
        });

});


$(document).on("change", ".input-switch", function(){
    action =""
    if ($(this).is(':checked')) {
        action = "activate"
    }
    else {
        action = "deactivate"

    }
    $.ajax({
          type:"POST",
          url:"",

          data:{
            action: action,
            id: $(this).attr("id"),
            csrfmiddlewaretoken:"{{csrf_token}}"

          },
      
    });


});


document.getElementById("add").onclick = function(e) {
    var form_data = new FormData();
    var f_obj = $("#file").get(0).files[0]

    title = document.getElementById("title").value
    authors = document.getElementById("authors").value
    abstract = document.getElementById("abstract").value
    college = document.getElementById("college").value

    if(title.length == 0)
        alert("Title must not be empty")
    else if(authors.length == 0)
        alert("Authors must not be empty")
    else if(abstract.length == 0)
        alert("Abstract must not be empty")
    else if(jQuery.isEmptyObject(f_obj))
        alert("File must not be empty")
    else{

        form_data.append("action", "add")
        form_data.append("title", title)
        form_data.append("college", college)
        form_data.append("authors", authors)
        form_data.append("abstract", abstract)
        form_data.append("file", f_obj)

        form_data.append("csrfmiddlewaretoken", "{{csrf_token}}")

        
        $.ajax({
            type: 'post',
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            success: function (response) { 
                console.log(response.createdObject[0])
                if (response.didError == 1)
                    alert(response.message)
                else{
                                tableData = response.createdObject
                                document.getElementById("dismissModaladd").click()
                                if(tableData[0])
                
                                var row = table.row.add( [
                
                                            tableData[0].title, tableData[0].author,tableData[0].department_name, ' <a href= "'+tableData[0].file+'"  > file</a>', tableData[0].num_of_access ,
                                            '<input class="input-switch" type="checkbox" id="toggle"  checked/> <label class="label-switch" for="toggle"></label><span class="info-text"></span>', 
                                                '<a id="'+ tableData[0].id+'" class="edit" title="Edit"  data-toggle="modal" data-target="#editModal" ><i class="far fa-edit" style="color: #ffd700; cursor: pointer;"></i></a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <a id="'+ tableData[0].id+'" class="deletes" title="" data-toggle="tooltip"><i class="fa fa-trash" style="color: #800000; cursor: pointer;"></i></a>',
                
                                        ] )
                
                                table.row(row).column(1).nodes().to$().addClass('title');
                                table.row(row).column(2).nodes().to$().addClass('author');
                                table.row(row).column(3).nodes().to$().addClass('college');
                                table.row(row).nodes().to$().attr("id", tableData[0].id)
                
                               
                
                                // table.row(row).column(2).nodes().to$().attr("text-align:center")
                
                                table.row(row).draw();

                    document.getElementById("file").value = ""; 
                    document.getElementById("title").value  = "";
                    document.getElementById("authors").value  = "";
                    document.getElementById("abstract").value = "";
                    document.getElementById("college").value = "";
                }
                
            },

            error: function (response) {
            }
        });
    }
}



document.getElementById("submit").onclick = function(e) {
    var form_data = new FormData();
    var f_obj = $("#file_field").get(0).files[0]

    title = document.getElementById("title_field").value
    authors = document.getElementById("authors_field").value
    abstract = document.getElementById("abstract_field").value
    college = document.getElementById("college_field").value
    console.log(oldTitle, title)
    if(title.length == 0)
        alert("Title must not be empty")
    else if(authors.length == 0)
        alert("Authors must not be empty")
    else if(abstract.length == 0)
        alert("Abstract must not be empty")
    else{


        form_data.append("action", "submit_edit")
        form_data.append("oldTitle", oldTitle)
        form_data.append("id", selectedRowID)
        form_data.append("title", title)
        form_data.append("college", college)
        form_data.append("authors", authors)
        form_data.append("abstract", abstract)
        form_data.append("file", f_obj)

        form_data.append("csrfmiddlewaretoken", "{{csrf_token}}")
        

    
        $.ajax({
            type: 'post',
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            success: function (response) { 
                if (response.didError == 1)
                    alert(response.message)
                else{
                                tableData = response.createdObject
                                console.log(tableData)
                                document.getElementById("dismissModaledit").click()
                                console.log(tableData[0].file)
                                if(tableData[0].is_active)
                                    switchStatus = "checked"
                                else
                                    switchStatus = ""
                        
                                table.row(selectedRow).data( [
                
                                            tableData[0].title, tableData[0].author,tableData[0].department_name, ' <a href= "'+tableData[0].file+'"  > file</a>', tableData[0].num_of_access ,
                                            '<input id = '+ tableData[0].id+' class="input-switch" type="checkbox" id="toggle" '+switchStatus+'  /> <label class="label-switch" for="toggle"></label><span class="info-text"></span>', 
                                                '<a id="'+ tableData[0].id+'" class="edit" title="Edit"  data-toggle="modal" data-target="#editModal" ><i class="far fa-edit" style="color: #ffd700; cursor: pointer;"></i></a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <a id="'+ tableData[0].id+'"  class="deletes" title="" data-toggle="tooltip"><i class="fa fa-trash" style="color: #800000; cursor: pointer;"></i></a>',
                
                                        ] ).draw( false );
                
                                
                                
                               
                               
                              
                
                               
                }
                document.getElementById("file_field").value = ""; 
            },

            error: function (response) {
            }
        });
    }
}

</script>
