<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
   <body style="background-image: url({% static 'images/bg.png' %});">
    <!--<body style="background-color: #781b1b"> -->
    <nav>
      <div class="logo"><a href="{% url 'ra:tera_homepage_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="btn">
      <ul>
      <li>
                <label for="btn-1" class="show">Citations +</label>
                <a href="#">Citations</a>
                <input type="checkbox" id="btn-1">
                <ul>
                <li><a href="{% url 'ra:tera_createcitation_view'%}">Create New</a></li>
                <li><a href="#">View History</a></li>
                </ul>
      </li>
     
      <li><a href="#">Grammar Check</a></li>
      <li><a href="#">Analysis Tool</a></li>
      <li><a href="#">Create My Essay</a></li>

       <li>
                <label for="btn-2" class="show">Profile <i class="fa fa-user" aria-hidden="true"></i></label>
                <a href="#">Profile <i class="fa fa-user" aria-hidden="true"></i></a>
                <input type="checkbox" id="btn-2">
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Dashboard</a></li>  
                <li><a href="#">Bookmarks</a></li>
                <li><a href="#">Folders</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'ra:tera_index_view'%}">Logout</a></li>
                </ul>
      </li>
      </ul>
  </nav>
    <div class="content">
      <header>Exclusive Research Assistant</header>
      <p>for Technologians</p>
      <br>
      <div class="search-container">
        <div class="search">
          <form>
            <input type="text" name="" placeholder="Search..." class="input">
            <button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
<script>
      $('.icon').click(function(){
        $('span').toggleClass("cancel");
      });
    </script>

  </body>
</html>
