<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    

   

  </head>
  <body style="background-image: url({% static 'images/bg.png' %});">
    <nav>
      <div class="logo"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></div>
      <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="btn">
      <ul>
      <li><a data-toggle="modal" data-target="#myModal">About Us</a></li>
      <li><a href="{% url 'ra:tera_login_view'%}">Login</a></li>
      </ul>
  </nav>
    <div class="content">
      <header>Exclusive Research Assistant</header>
      <p>for Technologians</p>
      <br>
      <div class="search-container">
        <div class="search">
          <form id= "form1" action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<a href="" target="_blank" hidden></a> -->
            <input type="text" name="keyword" placeholder="Search (Keywords, Titles, Authors)" class="input">
            <div class="autocom-box">
          <!-- here list are inserted from javascript -->
            </div>
            <button type="submit" id ="btnSearch" name="btnSearch" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>

   
<script>
      $('.icon').click(function(){
        $('span').toggleClass("cancel");
      });
</script>

<!--<script  src= "{% static 'js/script.js' %}"></script>
<script  src= "{% static 'js/suggestions.js' %}"></script>-->

  </body>
</html>
