<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body style="background-image: url({% static 'images/bg.png' %});">
    <nav>
      <div class="logo"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></div>
      <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="btn">
      <ul>
       <li><a data-toggle="modal" data-target="#myModal">About Us</a></li>
        <li><a href="#">Login</a></li>
      </ul>
  </nav>
    <div class="content">
      <header>Exclusive Research Assistant</header>
      <p>for Technologians</p>
      <br>
      <div class="search-container">
        <div class="search">
          <form>
            <input type="text" name="" placeholder="Search..." class="input">
            <button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>

<!-- Modal 
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
       Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About Us</h4>
        </div>
        <div class="modal-body">
         <p style="font-size: 15px; text-align: justify;"><b>TERA</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mauris urna. Nunc eget accumsan orci, vitae efficitur massa. Sed tempor faucibus lacinia. Nunc tincidunt arcu in aliquam dignissim. Etiam eu luctus odio, nec placerat risus. Mauris sed sapien odio. Duis vehicula dignissim interdum. Aliquam tempor nunc vitae neque rhoncus commodo. Aliquam malesuada elementum diam, et iaculis velit viverra vitae. Aliquam erat volutpat. Nulla ac egestas felis. Nullam ut diam sed orci varius interdum. Integer ut tincidunt velit, quis pulvinar tortor. Quisque venenatis, tellus vitae ullamcorper sollicitudin, felis ante pharetra purus, non elementum urna nunc sed purus. Donec enim augue, sodales finibus leo nec, pharetra bibendum leo.<br></br>

          <b>TERA</b> Mauris volutpat mollis massa a tincidunt. Aenean sit amet elementum est. Aenean in mollis erat. Nunc et condimentum augue. Aenean ut ex ultrices, dictum nulla porta, imperdiet nisi. Morbi ac convallis lectus. Donec at nibh a ipsum consectetur consectetur. Nulla magna lectus, facilisis sit amet augue non, iaculis ultricies sapien. Integer semper lorem eget nisi scelerisque laoreet. Mauris volutpat metus eget diam eleifend, ac gravida est molestie. Sed ac ante tortor. Vestibulum ut leo quis neque commodo auctor sed vitae eros.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #800000; color: #fff">Close</button>
        </div>
      </div>
      
    </div>
  </div>
-->

<script>
      $('.icon').click(function(){
        $('span').toggleClass("cancel");
      });
    </script>

  
  </body>
</html>
