{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Landing page</title>
  <link rel="stylesheet" type="text/css" href="home.css">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous" rel="stylesheet" type="text/css" ></script>
  <link href="{% static 'css/login.css' %}" rel="stylesheet">

  <script>
    $('.icon').click(function(){
      $('span').toggleClass("cancel");
    });
  </script>
  <style>
    body{
  background: #f2f2f2;
  background-image: url("{% static 'images/bg.png' %}");
}
  </style>
</head>
<body>
  <nav>
      <div class="logo"><img class="logo-style" src="{% static 'images/logo1.png' %}"></div>
      <label for="btn" class="icon">
      </label>
      <ul>
        <li><a href="#modalAboutusForm" data-toggle="modal" data-target="#modalAboutusForm">About Us</a></li>
        <li><a href="#modalLoginForm" data-toggle="modal" data-target="#modalLoginForm">Login</a></li>
      </ul>
  </nav>
<div class="content">
  <header>Exclusive Research Assistant</header>
  <p>for Technologians</p>
  <br>
  <div class="search-container">
    <div class="search">
      <form>
        <input type="text" name="" placeholder="Search..." class="input-search">
        <button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</div>

  
<!-- login modal -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style=“color: yellow”; >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
      
         <center> 
          <form style="max-width:450px;margin:auto"> 
            <h2>LOG IN</h2> 
            <div class="input-icons"> 
                <i class="fa fa-user icon"></i> 
                <input type="text" placeholder="ID NUMBER" class="input-field"><br></br>
            </div> 
  
  
            <div class="input-icons"> 
                <i class="fa fa-key icon"> 
              </i> 
                <input type="password" placeholder="PASSWORD" class="input-field"> <br></br>
            </div> 
        </form> 
   
        <center>
        <button class="buttonlogin"><a href="{% url 'ra:home_page_view'%}">LOGIN</a></button> 
       <!-- <button class="buttonlogin">LOG IN</button> -->
      </center>
      
      </center> 
      </div>
    </div>
  </div>
</div>
</div>

<!-- About us modal -->
<div class="modal fade bd-example-modal-lg" id="modalAboutusForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><h2><b>About Us</b></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="modal-body">

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>TERA</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mauris urna. Nunc eget accumsan orci, vitae efficitur massa. Sed tempor faucibus lacinia. Nunc tincidunt arcu in aliquam dignissim. Etiam eu luctus odio, nec placerat risus. Mauris sed sapien odio. Duis vehicula dignissim interdum. Aliquam tempor nunc vitae neque rhoncus commodo. Aliquam malesuada elementum diam, et iaculis velit viverra vitae. Aliquam erat volutpat. Nulla ac egestas felis. Nullam ut diam sed orci varius interdum. Integer ut tincidunt velit, quis pulvinar tortor. Quisque venenatis, tellus vitae ullamcorper sollicitudin, felis ante pharetra purus, non elementum urna nunc sed purus. Donec enim augue, sodales finibus leo nec, pharetra bibendum leo.<br></br>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>TERA</b> Mauris volutpat mollis massa a tincidunt. Aenean sit amet elementum est. Aenean in mollis erat. Nunc et condimentum augue. Aenean ut ex ultrices, dictum nulla porta, imperdiet nisi. Morbi ac convallis lectus. Donec at nibh a ipsum consectetur consectetur. Nulla magna lectus, facilisis sit amet augue non, iaculis ultricies sapien. Integer semper lorem eget nisi scelerisque laoreet. Mauris volutpat metus eget diam eleifend, ac gravida est molestie. Sed ac ante tortor. Vestibulum ut leo quis neque commodo auctor sed vitae eros.
    </div>
    </div>
  </div>
</div>



</body>
</html>