<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f3f3f3">
     <nav>
      <div class="logo"><a href="{% url 'ra:tera_homepage_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      <label for="btn" class="icon">
        <span class=></span>
      </label>
     
      <ul>     
      <li><a href="#">Recommendations</a></li>
      <li><a href="#">Home</a></li>

       <li>
                <label for="btn-2" class="show">My Account <i class="fa fa-user" aria-hidden="true"></i></label>
                <a href="#">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Dashboard</a></li>  
                <li><a href="#">Bookmarks</a></li>
                <li><a href="#">Folders</a></li>
                <li><a href="{% url 'ra:tera_account_settings'%}">Settings</a></li>
                <li><a href="#modalLogoutForm" data-toggle="modal" data-target="#modalLogoutForm" >Logout </a></li>
                </ul>
      </li>
      </ul>
  </nav>
    <div class="left-tab" style="border-right:2px"></div>

    <div class="wrapper">
     <div class="main_content">
        <div class="header">
          <div class="wrap">
                      <div class="search-container">
                        <div class="search">
                          <form>
                            <a href="" target="_blank" hidden></a>
                            <input type="text" placeholder="Search (Keywords, Titles, Authors)" class="input">
                            <div class="autocom-box">
                              <!-- here list are inserted from javascript -->
                            </div>
                            <button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                          </form>
                        </div>
                      </div>
                  </div>

                  <div class="info">
          <div>
            {%for row in springers %}
             

              {%for column in row %}
              
              {% if forloop.counter == 4 %}
              
              <div style="color: black"><a href="google.com" > <b> {{column}} </b> </a></div>
              {% endif %}

              {% if forloop.counter == 2 %}
              <div style="color: black">  {{ column }} </div>
              {% endif %}

              {% if forloop.counter == 3 %}
              <div style="color: black">  {{ column }} </div>
              {% endif %}

              {% endfor %}

              {%for date in springDates %}
              <div style="color: black"><i> {{date}} </i></div>
              {% endfor %}

            {% endfor %}
            </div>
         
      </div>
        </div>  
      </div>
    </div>

    <div class="right-tab" style="border-left:2px"></div>


        <!-- <div class="header">All</div> -->
        
    </div>
    
</body>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</html>