<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
   <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbarstyle.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/modal.css' %}"> -->
    <style type="text/css">
      table {
        border-collapse: collapse;
        width: 70%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

</head>
<style>
  .filterbutton {
  border: none;
  background: #f2f2f2;
  color: black;
  font-weight: lighter;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
  .filterbutton:hover{
  color: red;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ffd700;
}

/* When the radio button is checked, add a maroon background */
.container input:checked ~ .checkmark {
  background-color: #800000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
</style>
</style>
<body style="background-color: #f3f3f3">
  <nav>
  <div class="logo"><a href="{% url 'ra:index_view'%}"><img class="logo-style" src="{% static 'images/logo.png' %}"></a></div>
  <label for="btn" class="icon">
    <span class=></span>
  </label>
 
  <ul>     
       
      

      
        
    {% if is_authenticated == 'True' %}
      <li id="myAccount">   

                
                <a href="#" style="color: #8f2929">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Collections</a></li>  
                  <li><a href="{% url 'ra:tera_account_settings' %}">Settings</a></li>  
                <li>
                  <form  action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn " name="btnLogout" style="background-color: white; font-size: 18px"> &nbsp;Logout </button>
                  </form>
                </li>
                </ul>
      </li>
      {% endif %}

      {% if is_authenticated == 'False' %}
    <br>
                
                 <a href="{% url 'ra:tera_login_view'%}" style="font-size: 130%; ">Login </a>
              
                     {% endif %}
      </ul>
        </nav>

    
      
      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3" style=" margin-right: -5%; margin-left: 5%">

          <div class="main-menu" >
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br>
            <h4>Site Filter</h4>
          <div class="left-side-bar" style="margin-left: 10%">
            <ul>
               <input type="radio" id="CIT" name="fav_language" value="CiT"  onclick="search(this.id, 'site')">
               <label for="CIT">CIT-U materials</label><br>
              {% for site in sites %}

              {% if site.name == "Springeropen" %}
                  <input type="radio" id="Springeropen" name="fav_language" value="Springeropen"  onclick="search(this.id, 'site')">
                  <label for="Springeropen">Springeropen</label><br>
              {% endif %}

              {% if site.name == "UNESCO Digital Library"  %}
                  <input type="radio" id="UNESCO_Digital_Library" name="fav_language" value="UNESCO" onclick="search(this.id, 'site')" style="margin-left: %">
                  <label for="UNESCO_Digital_Library">UNESCO</label><br>
              {% endif %}

              {% if site.name == "Open Textbook Library" %}
                  <input type="radio" id="Open_Textbook_Library" name="fav_language" value="Open Textbook Library" onclick="search(this.id, 'site')" style="margin-left: ">
                  <label for="Open_Textbook_Library">Open Textbook Library</label><br>
              {% endif %}

              {% if site.name == "OER Commons" %}
                  <input type="radio" id="OER_Commons" name="fav_language" value="OER Commons" onclick="search(this.id, 'site')">
                  <label for="OER_Commons">OER Commons</label><br>
              {% endif %}

              {% endfor%}
             

              

              

              


              

             <!-- <label id="Springeropen" class="site-filter container" > <span class="checkmark"></span></label>
             <label id="UNESCO_Digital_Library" class="site-filter container" onclick="search(this.id, 'site')">UNESCO Digital Library<input id="UNESCO_Digital_Library_radio" type="radio" name="radio" value="Tandfonline.com"><span class="checkmark"></span></label>
             <label id="Open_Textbook_Library" class="site-filter container" onclick="search(this.id, 'site')">Open Textbook Library<input id="Open_Textbook_Library_radio" type="radio" name="radio" value="Zlibrary.org"><span class="checkmark"></span></label>
             <label id="OER_Commons" class="site-filter container" onclick="search(this.id, 'site')"> OER Commons<input type="radio" name="radio" id="OER_Commons_radio"><span class="checkmark"></span></label> -->
             

            </ul>
          </div>
        

          </div>
        </div>
    
        <div class="col-sm-6">
          <div class="wrapper">
          <div class="main_content">
          <div class="header">
                     
                        <div >
                              <br><br> <br>    
                            
                            <input id="input" type="text" placeholder="" name="search" class="input" value="{{ keyword }}" style="width: 48%; margin-left: -1%; border-color: #f3f3f3; background-color: #f3f3f3">
                            <button id="searchButton" class="btn"  style="position: static;  border: 0; margin-top: -6%; margin-left:  46.5% ;background: none" name="" id="btnSearchbar"  onclick="search('','search')"> 
                              <i class="fa fa-search" aria-hidden="true" style="color: #800000; font-size: 150%; margin-left: 0%"></i></button>
                              <br><hr style="width: 50%;  height: 1px; background-color: #6b6b6c; margin-top: -1.8%; margin-left: 1%" >
                           


                          
                        </div>
                      </div>
                  </div>  
         
            </div>
          
      

         

          <button id="article" type="submit" class="filterbutton" name="btnArticles" id="btnArticles"  onclick="search(this.id,'itemType')"> Articles 

            
            <div id="articlehr" style="border: thin solid red; width: 100%; margin-top: 10%; display: none;"></div></button>
            <input id="article|" type="button" class="filterbutton" value="|">

          <button id="journal" type="submit" class="filterbutton" name="btnJournal" id="btnJournal" onclick="search(this.id,'itemType')"> Journals
            <div id="journalhr" style="border: thin solid red; width: 100%; margin-top: 9%;display: none;"></div>
            </button>
            <input id="journal|" type="button" class="filterbutton" value="|" >

          <button id="book" type="submit" class="filterbutton"  onclick="search(this.id,'itemType')"> Books
             <div id="bookhr" style="border: thin solid red; width: 100%; margin-top: 15%;display: none;"></div>
              </button>
              <input  id="book|" type="button" class="filterbutton" value="|">

            <button id="Programme_and_meeting_document" type="submit" class="filterbutton"  onclick="search(this.id,'itemType')"> Programme and meeting document
              <center>
               <div id="Programme_and_meeting_documenthr" style="border: thin solid red; width: 50%; margin-top: 2%;display: none;"></div>
               </center>
             </button>
              <input  id="Programme_and_meeting_document|" type="button" class="filterbutton" value="|">
           
           <button id="Text_book" type="submit" class="filterbutton" name="btnBook" onclick="search(this.id,'itemType')">   Text book
            
               <div id="Text_bookhr" style="border: thin solid red; width: 100%; margin-top: 7%;display: none;"></div>
               
             </button>
              <input  id="Text_book|" type="button" class="filterbutton" value="|">


            <button id="dissertation" type="submit" class="filterbutton" name="btnBook"  onclick="search(this.id,'itemType')"> Dissertations
               <div id="dissertationhr" style="border: thin solid red; width: 100%; margin-top: 7%;display: none;"></div>
             </button>
            
          

            
             
             
         
         
          <div class="wrapper">
       <div class="main_content">
          <div class="header" ><br><br><br><br><br><br>
                <em style="font-size: 120%"> Search results for <a style="color: #800000" id="displayWord">{{keyword}}</a></em>   <br><br><br><br>
                  <table class="table" id="itemTable">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="itemArea">
                     
                    </tbody>
                  </table>
                </div>
            </div>
            </div>






          </div>
          </div>
                 
             
            </div>  
      <!--     </div>
      </div>

    </div> -->
<center><ul class="pagination">
      <li class="previous"style="cursor: pointer;">
        <a class="page-link" >Previous</a>
      </li>
      <li  id="1" class="page-item active"><a class="page-link" >1</a></li>
      <li id="2" class="page-item "><a class="page-link" >2</a></li>
      <li id="3" class="page-item "><a class="page-link" >3</a></li>
      <li  id="4" class="page-item "><a class="page-link" >4</a></li>
      <li  id="5" class="page-item "><a class="page-link" >5</a></li>
      <li  id="6" class="page-item "><a class="page-link" >6</a></li>
      <li  id="7" class="page-item "><a class="page-link" >7</a></li>
      <li  id="8" class="page-item "><a class="page-link" >8</a></li>
      <li  id="9" class="page-item "><a class="page-link" >9</a></li>
      <li  id="10" class="page-item "><a class="page-link" >10</a></li>

      <li class="next" style="cursor: pointer;">
        <a class="page-link" >Next</a>
      </li>
    </ul>
    <div class="right-tab" style="border-left:2px"></div>
</center>
    

<!-- <div class="header">All</div> -->
        
    </div>

    <div class="modal fade" id="modalLogoutForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style=“color: yellow”; >
              <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body mx-3">
        <div class="md-form mb-5">
      
         <center> 
         <form action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
          {% csrf_token %}
            <h4 style="color: #800000">PLEASE LOG IN</h4> <br><br>
            Bookmark feature requires an account<br>
            <b>do you want to log in?</b><br><br><br><br>
       
   
        <center>
              <div class="form-row">
                <div class="form-group col-md-6">
                <button type=“button” class="buttoncancel" data-dismiss="modal">Cancel</button>
                </div>
                <input value="search_result_view" name="previousPage" hidden>
                <div class="form-group col-md-6"> 
                    <button type="submit" name="buttonLogin"class="buttonlogout"> Login</button>
                </div> 
         </div>
      </center>
       </form>
      </center>
    </div></div>
      </div>
      
    </div>
  </div></div>
    
</body>

</html>




<script type="text/javascript">
  host = "{{host}}"
 user_id = "{{is_authenticated}}"
 website = "{{active_site}}"
 type = "{{itemType}}"
 isGet = "{{isGet}}"
 keyword = "{{keyword}}"
 source = ""
 pageNumber=1
  $(document).ready(function($) {
     // showRows()
     search(website,'site')

      var input = document.getElementById("input");
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("searchButton").click();
        }
      });


});

function ajax(keyword,website, type, isSite, isPage, pageNumber){
  if(isPage == true){
        $.ajax({
              type:"POST",
              url:"",

              data:{
                action: "search",
                pageNumber: pageNumber,
                isPage: true,
                isGet: isGet,
                isSite: false,
                csrfmiddlewaretoken: "{{csrf_token}}"
              },
              success: function(response){
                markers = response.results
                console.log(markers)
          
                showRows(markers)
                user_id = response.is_authenticated
                isGet = response.isGet
                // document.getElementById('displayWord').innerHTML = keyword
                document.getElementById('displayWord').style.display ="inline"
                
           
              }, error: function(response){
                alert("Something went wrong, site cannot be searched as of the moment.\n\n Please bear with us")
              }
        }); 
  } else{
    $.ajax({
                type:"POST",
                url:"",

                data:{
                  action: "search",
                  word: keyword,
                  site: website,
                  itemType: type,
                  isGet: isGet,
                  isSite: true,
                  isPage: false,
                  csrfmiddlewaretoken: "{{csrf_token}}"

                }, success: function(response){
                  // if(a=0){
                    markers = response.results
                  // }
                  if(markers!= null)
                    showRows(markers)
                  user_id = response.is_authenticated
                  isGet = response.isGet
                  document.getElementById('displayWord').innerHTML = keyword
                  document.getElementById('displayWord').style.display ="inline"
                  
                
                }, error: function(response){
                  alert("Something went wrong, site cannot be searched as of the moment.\n\n Please bear with us")
                }



          }); 
  }
  
}
$(document).on("click", ".page-item", function(){
      a = $('ul.pagination').find('li.active')
      $("#itemArea").empty()
      a.removeClass('active')
      $(this).addClass("active")
      pageNumber = $(this).attr("id")
      document.getElementById('displayWord').style.display ="none"
      
      ajax("","","",false,true, pageNumber)
      // alert("olok")
})

$(document).on("click", ".next", function(){
      a = $('ul.pagination').find('li.active')
      $("#itemArea").empty()

      if(a.next().attr("class") !="next"){
          a.removeClass('active')
          currentPage = a.next()
          currentPage.addClass("active")
          document.getElementById('displayWord').style.display ="none"
          ajax("","","",false,true, currentPage.attr("id"))
      }
     
      // alert("olok")
})

$(document).on("click", ".previous", function(){
      a = $('ul.pagination').find('li.active')
      $("#itemArea").empty()

      if(a.prev().attr("class") !="previous"){
          a.removeClass('active')
          currentPage = a.prev()
          currentPage.addClass("active")
          ajax("","","",false,true, currentPage.attr("id"))
      }
      // alert("olok")
})
function showRows(markers, links){

  
  if(website != "CIT"){

      for(i=0; i< markers.length;i++){
          if(user_id == 'True' | user_id == true){
            console.log(markers[i][markers[i].length-1])
          bookmarkButton = "<td><a class='bookmark' > <i id='"+markers[i][0]+"||"+markers[i][markers[i].length-1]+"' class='fa fa-bookmark' style='color: red; cursor:pointer' ></i></a> </td>"
          } else{
             bookmarkButton=  "<td><a class='btnBookmark' style='cursor:pointer' >  <i href='#modalLogoutForm' data-toggle='modal' data-target='#modalLogoutForm'style='color: red;'class='fa fa-bookmark'></i></a> </td><br><br>"
          }
          if(markers[i].length == 2){

                          $('#itemArea').append(
                                "<tr> " +
                           "<td><a  href='"+ markers[i][markers[i].length-1]+"'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 70ch;font-size: 115%'><strong>" +
                                markers[i][0] + "</strong></span></a><br>" +

                                " <em>"+ markers[i][1]+"</em><br><br></td>" +
                                  bookmarkButton
                                  + "</tr>" );  
                        

                        

            } else if(markers[i].length == 3 ){
              
                          $('#itemArea').append(
                                "<tr> " +
                           "<td><a href='"+ markers[i][markers[i].length-1]+"'><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 70ch;font-size: 120%'><strong>" +
                                markers[i][0] + "</strong></span></a><br>" +

                                " <area>"+ markers[i][1]+"</area><br>" +
                                  bookmarkButton
                                  + "</tr>" );  
                          

            }  else if(markers[i].length == 4){
                
                          
                          $('#itemArea').append(
                                "<tr> " +
                           "<td ><a href='"+ markers[i][markers[i].length-1]+"' ><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 80ch; font-size: 120%; '><b>" +
                                markers[i][0] + "</b></span></a><br> " +

                                " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i][1]+"</area><br>" +
                                 " <em>"+ markers[i][2]+"</em><br><br>" +
                                 bookmarkButton +
                                    "</tr>" );  
                         
            }  else if(markers[i].length == 5){
                
                          $('#itemArea').append(
                                "<tr> " +
                           "<td ><a href='"+ markers[i][markers[i].length-1]+"' ><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 80ch; font-size: 120%; '><b>" +
                                markers[i][0] + "</b></span></a><br> " +

                                " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i][1]+"</area><br>" +
                                 " <em>"+ markers[i][2]+"</em><br>" +
                                 " <area>"+ markers[i][3]+"</area><br></td>" +
                                 " <area>"+ markers[i][4]+"</area><br><br><br><br></td>" +
                                 bookmarkButton +
                                  "</tr>" );  
                        
            }  else if(markers[i].length == 6){
                
                          $('#itemArea').append(
                                "<tr> " +
                           "<td ><a href='"+ markers[i][markers[i].length-1]+"' ><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 80ch; font-size: 120%; '><b>" +
                                markers[i][0] + "</b></span></a><br> " +

                                " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i][1]+"</area><br>" +
                                 " <em>"+ markers[i][2]+"</em><br>" +
                                 " <area>"+ markers[i][3]+"</area><br></td>" +
                                 " <area>"+ markers[i][4]+"</area><br></td>" +
                                 " <area>"+ markers[i][5]+"</area><br><br><br><br></td>" +
                                   bookmarkButton +
                                    "</tr>" );  
                        
             }  else if(markers[i].length == 7){
                
                          $('#itemArea').append(
                                "<tr> " +
                           "<td ><a href='"+ markers[i][markers[i].length-1]+"' ><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 80ch; font-size: 120%; '><b>" +
                                markers[i][0] + "</b></span></a><br> " +

                                " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i][1]+"</area><br>" +
                                 " <em>"+ markers[i][2]+"</em><br>" +
                                 " <area>"+ markers[i][3]+"</area><br></td>" +
                                 " <area>"+ markers[i][4]+"</area><br></td>" +
                                 " <area>"+ markers[i][5]+"</area><br></td>" +
                                 " <area>"+ markers[i][6]+"</area><br><br><br><br></td>" +
                                   bookmarkButton +
                                    "</tr>" );  
                       
            } else if(markers[i].length == 8){
                
                          $('#itemArea').append(
                                "<tr> " +
                           "<td ><a href='"+ markers[i][markers[i].length-1]+"' ><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 80ch; font-size: 120%; '><b>" +
                                markers[i][0] + "</b></span></a><br> " +

                                " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i][1]+"</area><br>" +
                                 " <em>"+ markers[i][2]+"</em><br>" +
                                 " <area>"+ markers[i][3]+"</area><br></td>" +
                                 " <area>"+ markers[i][4]+"</area><br></td>" +
                                 " <area>"+ markers[i][5]+"</area><br></td>" +
                                 " <area>"+ markers[i][6]+"</area><br><br><br><br></td>" +
                                   bookmarkButton +

                                    "</tr>" );  
                       
            } else if(markers[i].length == 9){
                
                          $('#itemArea').append(
                                "<tr> " +
                           "<td ><a href='"+ markers[i][markers[i].length-1]+"' ><span style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 80ch; font-size: 120%; '><b>" +
                                markers[i][0] + "</b></span></a><br> " +

                                " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i][1]+"</area><br>" +
                                 " <em>"+ markers[i][2]+"</em><br>" +
                                 " <area>"+ markers[i][3]+"</area><br></td>" +
                                 " <area>"+ markers[i][4]+"</area><br></td>" +
                                 " <area>"+ markers[i][5]+"</area><br><br><br><br></td>" +
                                   bookmarkButton +
                                    "</tr>" );  
                        
            }  
      }          
      
  } else{     
              for(i=0; i< markers.length;i++){
                date = new Date(markers[i].date_published)
                console.log("https://"+host+"/images/"+markers[i]['file'])
                  $('#itemArea').append(  "<tr> " +
                           "<td><a id ='"+markers[i].id+"' class ='open' href='//"+host+"/images/"+markers[i]['file']+"'><span"+
                           "style='display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 70ch;'><strong>" +
                                markers[i].title + "</strong></span></a><br>" +

                               " <area style=' font-size: 120%;  max-width: 60ch;'>"+ markers[i].abstract+"</area><br><br>" +
                                 "<area>  Authors: &nbsp; <em>"+ markers[i].author+"</em> </area><br>" +
                                " <area> Date published: &nbsp; <em>"+ date.toDateString().slice(3,)+"</em></area><br></td>" +
                                

                                 "<td>  <a class='btnBookmark' > <i id='"+markers[i].id+"' class='fa fa-bookmark' style='color: red; cursor: pointer' onClick='reply_click(this.id)'></i></a> </td>"+ "</tr>" );   
              }
                      
    }
  
}

$(document).on("click", ".open", function(){
    id = $(this).attr("id")
    $.ajax({
            type:"POST",
            url:"",

            data:{
              action: 'increment_access',
              id: id,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response){
            }
              
         
    }); 
})

$(document).on("click", ".bookmark", function(){
  id = $(this).children().attr("id")
  console.log(id)
  keyword = document.getElementById('input').value
      
      if(document.getElementById(id).style.color == "red"){
        document.getElementById(id).style.color = "#e07878";
        action = "add"
      }else{
        document.getElementById(id).style.color = "red";
        action = "remove"
      }

        // console.log(clicked_id)
        $.ajax({
              type:"POST",
              url:"",
              
              data:{
                action: action,
                reftype: type, 
                website: website,
                bookmark: id,
                word: keyword,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
              }, error: function(response){
                  alert("Something went, item cannot be bookmarked")
           
              }
        });      
})


function search(clicked_id, searchType){
  $("#itemArea").empty()

    if (isGet == "false"){
      keyword = document.getElementById('input').value
    }
    
    if(searchType == 'search'){ 
      
        document.getElementById('displayWord').style.display ="none"
        ajax(keyword,website, type, false, false, 0)
        a = $('ul.pagination').find('li.active')
        a.removeClass('active')
        $("#1").addClass("active")
        // document.getElementById('articlehr').style.display = "block";

    } else if( searchType == 'itemType'){
        type = clicked_id
        
        document.getElementById('displayWord').style.display ="none"
        navhr(type)

        a = $('ul.pagination').find('li.active')
        a.removeClass('active')
        $("#1").addClass("active")

        ajax(keyword,website, type, false, false, 0)

        
    } else if( searchType == 'site'){
      
      document.getElementById(clicked_id).checked = true
      website = clicked_id
      document.getElementById('displayWord').style.display ="none"
      a = $('ul.pagination').find('li.active')
      a.removeClass('active')
      $("#1").addClass("active")
      if(clicked_id == 'CIT'){
         
        if(type != 'Dissertations' ){
          type = 'dissertation'
        }
        document.getElementById('article').style.display="none"
        document.getElementById('article|').style.display="none"
        document.getElementById('Programme_and_meeting_document').style.display="none"
        document.getElementById('Programme_and_meeting_document|').style.display="none"
        document.getElementById('journal').style.display="none"
        document.getElementById('journal|').style.display="none"
        document.getElementById('book').style.display="none"
        document.getElementById('book|').style.display="none"
        document.getElementById('Text_book').style.display="none"
        document.getElementById('Text_book|').style.display="none"
        document.getElementById('dissertation').style.display="inline"
        navhr(type)
      } else if(clicked_id == 'Springeropen'){
      
          
        if(type != 'article' & type != 'book'){

          type = 'article'
        
        }
        document.getElementById('journal').style.display="none"
        document.getElementById('journal|').style.display="none"
        document.getElementById('Programme_and_meeting_document').style.display="none"
        document.getElementById('Programme_and_meeting_document|').style.display="none"
        document.getElementById('article').style.display="inline"
        document.getElementById('article|').style.display="inline"
        document.getElementById('book').style.display="inline"
        document.getElementById('book|').style.display="none"
        document.getElementById('dissertation').style.display="none"
        document.getElementById('Text_book').style.display="none"
        document.getElementById('Text_book|').style.display="none"
        navhr(type)

      }else if(clicked_id == 'UNESCO_Digital_Library'){
        if(type != 'article' & type != 'book' & type != 'Programme_and_meeting_document'){
          type = 'article'
        }
        document.getElementById('journal').style.display="none"
        document.getElementById('journal|').style.display="none"
        document.getElementById('Text_book').style.display="none"
        document.getElementById('Text_book|').style.display="none"
        document.getElementById('Programme_and_meeting_document').style.display="inline"
        document.getElementById('Programme_and_meeting_document|').style.display="none"

        document.getElementById('article').style.display="inline"
        document.getElementById('article|').style.display="inline"
        document.getElementById('book').style.display="inline"
        document.getElementById('book|').style.display="inline"

        document.getElementById('dissertation').style.display="none"
        navhr(type)
      }else if(clicked_id == 'Open_Textbook_Library'){
        
        if(type != 'Text_book' ){
          type = 'Text_book'
        }
        document.getElementById('article').style.display="none"
        document.getElementById('article|').style.display="none"
        document.getElementById('Programme_and_meeting_document').style.display="none"
        document.getElementById('Programme_and_meeting_document|').style.display="none"
        document.getElementById('journal').style.display="none"
        document.getElementById('journal|').style.display="none"
        document.getElementById('book').style.display="none"
        document.getElementById('book|').style.display="none"
        document.getElementById('Text_book').style.display="inline"
        document.getElementById('dissertation').style.display="none"

        navhr(type)
      } else if(clicked_id == 'OER_Commons'){
        
        if(type != 'Text_book' ){
          type = 'Text_book'
        }
        document.getElementById('article').style.display="none"
        document.getElementById('article|').style.display="none"
        document.getElementById('Programme_and_meeting_document').style.display="none"
        document.getElementById('Programme_and_meeting_document|').style.display="none"
        document.getElementById('journal').style.display="none"
        document.getElementById('journal|').style.display="none"
        document.getElementById('book').style.display="none"
        document.getElementById('book|').style.display="none"
        document.getElementById('Text_book').style.display="inline"
        document.getElementById('Text_book|').style.display="none"

        document.getElementById('dissertation').style.display="none"

        navhr(type)
      }
   
        ajax(keyword,website, type, true, false)

      
      
    } 
    
        
}



// function reply_click(clicked_id){
//        else{
//          $.ajax({
//                       type:"POST",
//                       url:"",
                      
//                       data:{
//                         action: "remove",
//                         bookmark: clicked_id,
//                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
//                       }, error: function(response){
//                         markers = response.results
                        
                  
//                         showRows(markers)
//                         user_id = response.is_authenticated
//                         isGet = response.isGet
//                         document.getElementById('displayWord').innerHTML = keyword
//                         document.getElementById('displayWord').style.display ="inline"
                        
                   
//                       }
//         });      
//       }

        
// }



function navhr(type){
  document.getElementById('Text_bookhr').style.display = "none"
  document.getElementById('Programme_and_meeting_documenthr').style.display = "none"
  document.getElementById('articlehr').style.display = "none"
  document.getElementById('journalhr').style.display = "none"
  document.getElementById('bookhr').style.display = "none"
  document.getElementById('dissertationhr').style.display = "none"
 
  if(type == 'article'){
    document.getElementById('articlehr').style.display = "block"
  } else if(type == 'journal'){
    document.getElementById('journalhr').style.display = "block"
  } else if(type == 'book'){
    document.getElementById('bookhr').style.display = "block"
  } else if(type == 'dissertation'){
    document.getElementById('dissertationhr').style.display = "block"
  }else if(type == 'Programme_and_meeting_document'){
    document.getElementById('Programme_and_meeting_documenthr').style.display = "block"
  }else if(type == 'Text_book'){
    document.getElementById('Text_bookhr').style.display = "block"
  }

}






</script>
