{% load static %}

{% block headerinclude %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidemenu.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% endblock headerinclude %}

{% block content %} 
<body style="background-color: #f3f3f3">
    <nav>
      <div class="logo"><a href="{% url 'ra:index_view'%}"><img class="logo-style" src="{% static 'images/teralogo.png' %}"></a></div>
      <label for="btn" class="icon">
        <span class=></span>
      </label>
      <ul>     
       <li>
                <a href="#">My Account <i class="fa fa-user" aria-hidden="true"></i></a>
                
                <ul>
                <li><a href="{% url 'ra:tera_dashboard_view'%}">Dashboard</a></li>  
                <li><a href="{% url 'ra:tera_account_settings'%}">Settings</a></li>
                <li><a href="#modalLogoutForm" data-toggle="modal" data-target="#modalLogoutForm" >Logout </a></li>
                </ul>
      </li>
      </ul>
    </nav>

    <!-- RIGHT SIDE BAR -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="mainmenu" style="border-right:2px #800000 solid;">
        <ul>
            <section class="main">
                <li class="menuitem"><i class="fa fa-bookmark"></i> &nbsp; &nbsp; All References</li>
                <li class="menuitem"><i class="fa fa-history"></i>&nbsp; &nbsp; Recently Added</li>
                <li class="menuitem"><i class="fa fa-bookmark"></i>&nbsp; &nbsp; Recently Read</li>
                <li class="menuitem"><i class="fa fa-star"></i>&nbsp; &nbsp; Favorites</li>
                <li class="menuitem"><i class="fa fa-trash"></i>&nbsp; &nbsp; Trash</li>
                <li class="menuitem"><i class="fa fa-chevron-circle-down"></i>&nbsp; &nbsp; <b>My Collections </b>
                                 <i class="fa fa-plus" style="font-size:10px;" name="addfolder" onclick="document.getElementById('id01').style.display='block'"></i></li>
                                 {% for folder in folders %}
                                    <li class="menu-item" style="padding-left: 50px;"> {{folder.foldername}} </li>
                                 {% endfor %}
                <li class="menuitem"><i class="fa fa-chevron-circle-down"></i>&nbsp; &nbsp;<b>Private Groups</b>
                                 <i class="fa fa-plus" style="font-size: 10px;"></i></li>
               </section>             
        </ul>
      </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>    
  
</body>
{% endblock content %} 


