*, body{
    margin:0;
    padding:0;
}
body{
    background-color: #ebebeb;
    font-family: 'Fira Sans', sans-serif;

}

.main-menu{
    background-color: #f3f3f3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:  20px #d4d4d4;

    width: 270px;
    height: 100vh;

    position: fixed;
    top:70px;
    left:0;

    z-index: -1;
   
}
.main-menu .logo a{
    font-size: 45px;
    color: #3f3e40;
    text-transform: capitalize;
}

.main-menu:hover{
    overflow-y: scroll;
}

.main-menu .menu-item{
    padding: 5px;
}
.main-menu .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}

.main-menu .menu-item .fa{
    color: gray;
    width:40px;
    font-size: 25px;
    padding: 10px;
}

.main-menu .menu-item:hover > .fa{
    color: #800000;
}

section.home{
    background-color: #f3f3f3;
}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
  }
  .button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #3f3e40;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

.right-side-bar{
    background-color: #f3f3f3;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:  20px #d4d4d4;

    
    width: 270px;
    height: 100vh;

    position: fixed;
    top:70px;
    right:0;

    padding: 10px;
    z-index: -1;
   
}
.middle-tab{
    background-color: #f3f3f3;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:  20px #d4d4d4;

    width: 150px;
    height: 100vh;

    position: fixed;
    top:70px;
    left:100;
}

.left-tab{
    background-color: #f3f3f3;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:  20px #d4d4d4;

    width: 95px;
    height: 100vh;

    position: fixed;
    top:70px;
    left:0;
    z-index: -1;

}
.right-tab{
    background-color: #f3f3f3;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:  20px #d4d4d4;

    width: 85px;
    height: 100vh;

    position: fixed;
    top:70px;
    right:0;
    z-index: -1;
}
.wrapper .main_content{
  width: 60%;
  margin-left: 90px;
  z-index: -1;
}

.wrapper .header{
   line-height: 10px;
   width: 125vh;
   min-height: 5vh;
   margin-top: 10px;
   z-index: 1;
}

.new-header .new-info{
   line-height: 10px;
   width: 100vh;
   min-height: 5vh;
   margin-top: 20px;
   z-index: -1;
}


.wrapper .info{
  z-index: 1;
  margin: 15px;
  color: #717171;
}

.wrapper .main_content .info div{
  margin-bottom: 1%;
  line-height: 15px;
  width: 108vh;
  padding-left: 10%;
  color: #717171;
}

.wrapper .main_content .header{
  padding: 10px;
  background-color: #f3f3f3;
}

.wrapper .main_content .info div .btnBookmark:hover{
  color: #fff;
  background: #fbd305;
  cursor: pointer;
  border-radius: 25px 5px 25px 5px;

}

.wrapper .main_content .info div .btnBookmark{
  display: block;
  margin-left: 102%;
  margin-top: -1.5%;
}


